.custom-toast-container {
  width: auto !important;
  max-width: 80% !important; /* Adjust this value to control the maximum width */
}

.Toastify__toast {
  border-radius: 10px !important; /* Adjust for desired curvature */
  padding: 15px 20px !important;
  margin-bottom: 15px !important;
}

/* Optional: Style the close button */
.Toastify__close-button {
  align-self: center;
}