.profit{
  color:rgb(9, 251, 170);
}
.loss{
  color:red;
}
.neutral {
  color: rgb(29, 228, 228);
}

.no-data {
  color: lightgray;
}
.stock-buttons {
  display: flex;
  overflow-x: scroll; /* Enable horizontal scrolling */
  margin-bottom: 20px;
  scrollbar-width: none; /* For Firefox */
}

.stock-buttons::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.stock-button {
  background-color: #f07030;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  white-space: nowrap; /* Prevent buttons from wrapping */
}

.stock-button:hover {
  background-color: #ff5722;
}
.scroll-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.scroll-container {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}
/*buy sell buttons*/
.trade-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.trade-button-container {
  transition: all 0.3s ease;
  position: relative;
}

.trade-button-container.active {
  background-color: #333;
  border-radius: 10px;
  padding: 10px;
}

.trade-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}

.trade-button:hover {
  opacity: 0.8;
}

.buy {
  background-color: #4CAF50; /* Green */
}

.sell {
  background-color: #F44336; /* Red */
}

.trade-form {
  margin-top: 10px;
  color: white;
  position: relative;
}

.close-button {
  position: absolute;
  top: -1px;
  left: -1px;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.input-container {
  display: flex;
  align-items: center; /* Align items vertically */
}

.input-container input {
  flex-grow: 1;
  padding: 5px;
  border: none;
  border-radius: 3px 0 0 3px;
}

.submit-arrow {
  background-color: #FFA500;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  height: 100%; /* Match the height of the input */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 3px 3px 0;
}
loader-container {
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
}
.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loader-text {
  margin-left: 5px;
  font-size: 14px;
  color: #3498db;
}

.price-info {
  font-size: 16px; /* Default font size */
}


/* For even smaller screens */
@media screen and (max-width: 480px) {
  .price-info {
    font-size: 12px; /* Further reduced font size for smaller mobile screens */
  }
}
/* Desktop view adjustments */
@media (min-width: 768px) {
  
  .price-info {
    font-size: 14px; /* Reduced font size for mobile */
  }
  
  .price-info p {
    margin: 5px 0; /* Reduce vertical spacing between paragraphs */
  }
  .trade-buttons {
    flex-direction: row;
    bottom: 3px;
    right: 3px;
  }

  .trade-button-container.active {
    min-width: 200px;
  }
}